.song-detail {
  padding: 4px;
  width: 300px;
  border: 1px solid black;

  .song-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.searchbox {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}